In [4]:
a=10
a/=10
a

1.0

## comparision operator

In [6]:
a=2
b=3
print(a>b)
print(a<b)
print(a!=b)
print(a==b)

False
True
True
False

## logical operator

In [13]:
x=5
y=10
print(x and y)
print(x or y)
print(not x)
print(not y)

10
5
False
False

## Bit wise operator

In [17]:
a=7
b=5
print(a|b)
print(a&b)
print(a^b)
print(a>>b)
print(a<<b)

7
5
2
0
224

## identity

In [25]:
x=5
x  is 5

True

In [26]:
y=5
y is not 5

False

In [27]:
y

5

In [30]:
a=[1,2,3,4,5]
1 in a

True

In [34]:
a=[1,4,5,6,7,8]
3 not in a

True

In [37]:
a=10
a%=10
print (a)
a+=10#a=a+1, a++

0

## i/0, 0/p

In [38]:
print(a)

10

In [39]:
print("kvsw")

kvsw

In [42]:
print("enter a number")
a=input()

enter a number
udaya 100

In [44]:
a=input("enter a number")

enter a number udaya 200

In [49]:
s=input("enter a value1")
l=input("enter the value2")
k=input("enter a value3")

enter a value1 100
enter the value2 200
enter a value3 udaya

In [50]:
a

' udaya 200'

In [51]:
s

' 100'

In [53]:
print(k,l,s)

 udaya  200  100

In [61]:
print(k,l,s)
print(s, ",",k , ",",l)
print(s,k,l,sep=":")
print(s,k,l,sep=";")
print(s,k,l,sep="-")

 udaya  200  100
 100 ,  udaya ,  200
 100: udaya: 200
 100; udaya; 200
 100- udaya- 200

In [ ]:
print(a,end=""\t")
      print(b)

## practise

In [7]:
#two inputs from user and add it
n=input("enter the value")
u=input("enter the vallue")
print(type(n+u))

enter the value10
enter the vallue20
<class 'str'>

In [9]:
n=input("enter the value")
u=input("enter the vallue")
print(int(n)+int(u))

enter the value10
enter the vallue20
30

In [2]:
n=float(input("enter the value"))
u=float(input("enter the vallue"))
print(n+u)

enter the value10
enter the vallue20
30.0